.banner {
  text-transform: uppercase;
  font-size: 2.3rem;
  margin-bottom: 4rem;
}
.banner h4 {
  text-align: center;
  position: relative;
  letter-spacing: 7px;
}
.title {
  color: var(--mainBlack);
}
.title {
  display: block;
}
@media (min-width: 576px) {
  .banner span {
    display: inline-block;
    margin: 0 0.35rem;
  }
}
